* {
  font-size: min(1rem, 6vw);
  --color-dark: #1a1a1a;
  --color-light: #fff;
  --color-bright: #0ff;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

body,
#map {
  height: 100vh;
  width: 100vw;
}

glass {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.col1 {
  grid-column: 1;
}

.col2 {
  grid-column: 2;
}

.col3 {
  grid-column: 3;
}

.col4 {
  grid-column: 4;
}

.col1-3 {
  grid-column: 1 / 4;
}

.col1-4 {
  grid-column: 1 / 5;
}

.col2-3 {
  grid-column: 2 / 4;
}

.col2-4 {
  grid-column: 2 / 5;
}

.above-map {
  z-index: 10000;
}

#search {
}

#admin-menu {
}

.bright {
  color: var(--color-bright);
}

.hidden {
  display: none;
}

.action {
  border-radius: 50%;
  border: solid;
  width: 4rem;
  height: 4rem;
  text-align: center;
  vertical-align: middle;
}

#toaster {
  position: absolute;
  bottom: 0;
}

.export-form #data {
  position: absolute;
  top: 6rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.marker-content {
  min-width: 20rem;
  min-height: 6rem;
}

.marker-content .title {
  display: block;
  min-height: 4rem;
  font-size: 1rem;
  max-width: 20rem;
}
